.cards {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    margin-top: 30px;
    text-decoration: none;
}

.nav {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    height: 50px;
}

.navButtons {
    display: flex;
    justify-content: right;
}

.navLogo {
    display: flex;
    justify-content: left;
    margin-left: 30px
}

.card {
    text-decoration: none;
}

.filters {
    gap: 30px;
    display: flex;
    color: white;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgba(128, 128, 128, 0.2);
}